@font-face {
    /* font-family: 'yeongdeok';
    src: url('../font/YJ_Obang_TTF.ttf') format('truetype'); */

    font-family: 'yeongdeok';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* body {
    min-height: 100vh;
    background: #f8f9fa;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.btn {
    width: 100%;
    margin-bottom: 10px;
} */